@font-face {
    font-family: "Open Sans";
    src: url("../css/fonts/opensans-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../css/fonts/opensans-semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}


:root {
    --text-color: #4A4A4A;
    --text-accent-color: #2196F3;
    --bg-color: #E5E5E5;
    --bg-selected-color: #2196F3;
    --bg-hover-color: #F1FCFF;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    text-rendering: auto;
    background-color: #F3F7FA;
}
