@font-face {
    font-family: "Open Sans";
    src: url("../css/fonts/opensans-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../css/fonts/opensans-semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

:root {
    --text-color: #4A4A4A;
    --text-accent-color: #2196F3;
    --text-gray-color: #A0B0B9;
    --bg-color: #F3F7FA;
    --bg-color-items: white;
    --bg-selected-color: #2196F3;
    --bg-hover-color: #F1FCFF;
    --border-color: #DFE5EC;
    --border-nochecked: #9ABBCE;
    font-size: 12px;
}

@media (max-width: 770px) {
    :root {
        font-size: 11px;
    }
}

html,
*,
*::after,
*::before {
    box-sizing: border-box;
}

input[type="checkbox"],
input[type="radio"] {
    display: none;
}

label {
    cursor: pointer;
}

body {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    text-rendering: auto;
    background-color: var(--bg-color);
    padding: 50px;
}

.logo {
    width: 82px;
    height: 89px;
    margin: 0px auto 50px auto;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content {
    display: grid;
    justify-content: center;
    align-items: flex-start;
    grid-template-columns: 232px 502px;
    gap: 20px;
}

@media (max-width: 770px) {
    body {
        padding: 1em;
    }

    .content {
        grid-template-columns: 1fr;
    }
}

.filters {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.filter {
    background: var(--bg-color-items);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: var(--text-color);
    padding-bottom: 15px;
}

.filter__title {
    font-weight: 600;
    font-size: 1em;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 0.0417em;
    padding: 20px;
}

.filter__check:checked+.filter__label--checkbox::before,
.filter__check:checked+.filter__label--radio::before {
    background-size: 12px;
    background-position: center;
    background-repeat: no-repeat;
    border-color: var(--bg-selected-color);
}

.filter__check:checked+.filter__label--checkbox::before {
    background-image: url(../images/check.svg);
}

.filter__check:checked+.filter__label--radio::before {
    background-image: url(../images/radio.svg);
}

.filter__label {
    display: flex;
    align-items: center;
}

.filter__label::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid var(--border-nochecked);
    border-radius: 2px;
}

.filter__label--checkbox::before {
    border-radius: 2px;
}

.filter__label--radio::before {
    border-radius: 100%;
}

.filter__items {
    font-weight: 400;
    font-size: 1.084em;
    line-height: 1.667em;
}

.filter__item {
    height: 40px;
    padding: 10px 20px;
    display: flex;
}

.filter__item:hover {
    background-color: var(--bg-hover-color);
}

.filter__item:hover .filter__label::before {
    border-color: var(--bg-selected-color);
}


.tabs {
    border-radius: 5px;
    overflow: hidden ;
    background-color: var(--bg-color-items);
    font-weight: 600;
    font-size: 1em;
    line-height: 1.667em;
    letter-spacing: 0.0417em;
    text-transform: uppercase;
    color: var(--text-color);
}

.tabs__items {
    display: grid;
    gap: 1px;
    background-color: var(--border-color);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px;
    justify-content: center;
    align-items: center;
}

.tabs__item {
    height: 100%;
    display: flex;
}

.tabs__label {
    background-color: white;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.tabs__label {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.tabs__item:first-child .tabs__label {
    border-left: 1px solid var(--border-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.tabs__item:last-child .tabs__label {
    border-right: 1px solid var(--border-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tabs__label:hover {
    background-color: var(--bg-hover-color);
}

.tabs__check:checked + .tabs__label {
    background-color: var(--bg-selected-color);
    border: 1px solid var(--bg-selected-color);
    color: white;
}

.tickets {
    display: grid;
    gap: 20px;
}

.ticket {
    background: var(--bg-color-items);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
}

.ticket__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.ticket__price {
    font-weight: 600;
    font-size: 2em;
    line-height: 2em;
    color: var(--text-accent-color);
}

.ticket__company-logo{
    width: 110px;
    height: 36px;
}

.ticket__company-logo img {
    object-fit: contain;
}

.ticket__body {
    display: grid;
    gap: 10px;
}

.segment {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.167em;
    line-height: 1.75em;
    text-transform: uppercase;
}

.segment--title {
    color: var(--text-gray-color);
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 0.0417em;
}

.button--show-more {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--bg-selected-color);
    color: white;
    font-weight: 600;
    font-size: 1em;
    line-height: 1.667em;
    letter-spacing: 0.0417em;
    text-transform: uppercase;
    cursor: pointer;
}
